<div class="jumbotron">
<%= link_to "New Todo Item", new_todo_path, class: "btn btn-primary btn-xs btn-block" %>
</div>
<br><br>
<div class="block">
   <% @todos.each do |todo| %>
   <p> <%= todo.description %></p>
   <p><%= link_to "Click to Complete", { action: "destroy", id: todo.id },
                 method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger " %></p>

    <% end %>
</div>



