<h1>To Do List</h1>

<table>

<% @todos.each do |t| %>
      <dl>
        <dt> <h4> 
                 <p, id='red'><%= t.description %></p>
                 <p, id='dim'><%= sec(t) %></p> 
                 <%= button_to "Completed", { action: "destroy", id: t.id },
                 method: :delete, data: { confirm: "Are you sure?" } %>
             </h4>
             <div></div>
        
       
       
        
      </dl>
    <% end %>
    <h4><%= link_to 'New todo', new_todo_path %></h4>


</table>



